@charset "utf-8";
/* 探索条件パーツ */
.expGuiCondition {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: inherit;
    font-family: "メイリオ", Meiryo, Tahoma, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    _font-family: "メイリオ", Meiryo,"ＭＳ Ｐゴシック", Tahoma, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", sans-serif;
}
/* 汎用処理 */
.expGuiCondition .exp_clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    font-size: 0;
}
/* PC用 */
.expGuiConditionPC {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
}
/* 探索条件ポップアップ */
.expGuiConditionPc .exp_conditionDetail {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
/* 閉じるボタン */
.expGuiConditionPc .exp_conditionDetail .exp_conditionClose {
    float: right;
    margin: 0 0.5em 0.5em 0;
    width: 113px;
    height: 31px;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    background: url(../expImages/conditionClose.png) no-repeat;
}
/* 詳細設定 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionClose .exp_conditionCloseButton {
    display: block;
    height: 30px;
    text-decoration: none;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionClose .exp_text {
    display: block;
    padding-top: 7px;
    color: #384556;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionClose .exp_text:hover {
    color: #0082ad;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionClose:hover {
    width: 113px;
    height: 31px;
    text-align: center;
}
/* 探索条件のフッター */
.expGuiConditionPc .exp_conditionDetail .exp_conditionFooter {
    clear: both;
    margin-top: 10px;
    padding-top: 0.5em;
    width: 100%;
    height: 2em;
    border-top: 1px solid #a3aeb8;
    box-shadow: inset 1px 1px #d5d9db;
    text-align: center;
}
/* 探索条件の内容 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionList {
    clear: both;
    background-color: #ECF0F3;
}
/* 探索条件の領域 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable {
    margin: 30px auto 0;
    width: 640px;
    border: 1px #a3aeb8 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ecf0f3;
    -moz-box-shadow: 0 2px 2px 0 #2c2c2c;
    box-shadow: 0 2px 2px 0 #2c2c2c;
    color: #384556;
}
/* ヘッダ */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionHeader {
    float: left;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 11px;
    width: 9.5em;
    font-weight: bold;
    font-size: 1.1em;
}
/* 設定項目 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValue {
    float: left;
    padding-top: 12px;
    text-align: left;
    font-size: 1em;
    margin-left: 20px;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValue label {
    padding-right: 18px;
    padding-left: 4px;
}
/* 表示項目の改行 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_separator {
    clear: both;
}
/* 探索条件選択 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionItemList select {
    height: 24px;
    border: 1px solid #8A939C;
    margin-top: -4px;
}
/* タブの余っている部分 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionLeft {
    float: left;
    padding-top: 0.5em;
    width: 5%;
    height: 1.9em;
}
/* タブの余っている部分 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionLeft,
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionRight {
    border-bottom: 1px solid #a3aeb8;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionRight {
    float: left;
    padding-top: 0.5em;
    width: 19%;
    height: 1.9em;
}
/* タブの部分 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTab {
    float: left;
    padding-top: 0.5em;
    width: 95px;
    height: 1.9em;
    color: #384556;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
/* 未選択時のタブ */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect {
    border: 1px solid #a3aeb8;
    background-color: #e4e7ea;
    -moz-box-shadow: inset 0 0 0 1px #ededed;
    box-shadow: inset 0 0 0 1px #ededed;
    color: #000000;
}
/* タブのリンク部分 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect a {
    display: block;
    width: 100%;
    height: 100%;
    color: #384556;
    text-decoration: none;
    font-weight: bold;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect a:hover {
    color: #0082ad;
}
/* 未選択時のタブ */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect,
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabSelected {
    margin-top: -1px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
}
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect:hover {
    background-color: #ECF0F3;
}
/* 選択時のタブ */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_conditionTabSelected {
    border-top: 1px solid #a3aeb8;
    border-right: 1px solid #a3aeb8;
    border-left: 1px solid #a3aeb8;
    background-color: #ecf0f3;
}
/* ヘッダーの部分 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_header {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}
/* 条件のセパレータ */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable .exp_separator {
    clear: both;
    margin: 0 10px;
    border-top: 1px solid #cfd6db;
}
/* ラジオボタンの探索条件 */
.expGuiConditionPc .exp_conditionDetail .exp_conditionTable input[type="radio"] {
    padding-right: 5px;
}
/* 探索詳細条件のポップアップ */
.expGuiConditionPc .exp_conditionOpen {
    margin-bottom: 0.7em;
    width: 163px;
    height: 31px;
    background: url(../expImages/conditionOpen.png);
}
.expGuiConditionPc .exp_conditionOpen .exp_conditionOpenButton {
    display: block;
    width: 163px;
    height: 31px;
    text-decoration: none;
}
.expGuiConditionPc .exp_conditionOpen .exp_conditionOpenButton .exp_text {
    display: block;
    padding-top: 4px;
    color: #384556;
    text-align: center;
    font-size: 1.1em;
}
.expGuiConditionPc .exp_conditionOpen .exp_conditionOpenButton .exp_text:hover {
    color: #0082ad;
}
.expGuiConditionPc .exp_conditionOpen:hover,
.expGuiConditionPc .exp_conditionOpen a:hover {
    width: 163px;
    height: 31px;
}
/* シンプルな条件 */
.expGuiConditionPc .exp_conditionSimple {
    margin-bottom: 0.8em;
    min-height: 4em;
    width: 100%;
    height: auto !important;
    height: 4em;
    border: 1px solid #a0aab4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #dbe1e6;
    font-size: 1em;
}
/* シンプルな条件の設定値 */
.expGuiConditionPc .exp_conditionSimple .exp_item {
    float: left;
    margin-bottom: 10px;
    line-height: 0;
}
/* シンプルな条件の設定内容 */
.expGuiConditionPc .exp_conditionSimple .exp_item input {
    display: block;
    float: left;
    width: auto;
}
.expGuiConditionPc .exp_conditionSimple .exp_item label {
    display: inline-block;
    margin-left: 5px;
    padding-top: 0.7em;
    height: 1.2em;
    white-space: nowrap;
    font-size: 1em;
}
/* シンプルな条件のタイトル */
.expGuiConditionPc .exp_conditionSimple .exp_title {
    margin-bottom: 10px;
    padding: 1px 0;
    width: 80px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #838484;
    color: #FFFFFF;
    text-align: center;
}
.expGuiConditionPhone .exp_conditionDetail {
    width: 100%;
}
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_conditionItemList {
    padding-top: 0.8em;
    padding-bottom: 0.9em;
    height: 30px;
}
/* 詳細条件のヘッダ */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_conditionItemList .exp_conditionHeader {
    float: left;
    padding-top: 0.3em;
    padding-left: 0.9em;
    color: #596370;
    font-weight: bold;
}
/* 詳細条件の設定値 */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_conditionItemList .exp_conditionValue {
    float: right;
    padding-right: 0.9em;
    text-align: left;
}
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_conditionItemList .exp_conditionValue select {
    width: 11em;
}
/* 詳細条件項目ごとの色設定 */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_conditionItemList select {
    height: 32px;
}
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_greenSelect {
    background-color: #efefef;
}
/* 詳細条件項目ごとの色設定 */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionGroup .exp_whiteSelect {
    background-color: #fbfdff;
}
/* チェックボタン */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionSection .exp_conditionCheckList {
    margin-left: 0.4em;
    padding: 1em 0 0 0;
}
.expGuiConditionPhone .exp_conditionDetail .exp_conditionSection .exp_conditionCheckList .exp_item {
    display: inline-block;
    margin: 0 0.4em;
    padding-bottom: 1em;
    width: 94%;
    color: #384556;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
}
/* チェックボックスは表示しない */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionSection .exp_conditionCheckList .exp_item input {
    display: none;
}
/* チェック内容表示 */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionSection .exp_conditionCheckList .exp_item label {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-left: 2.3em;
    border: 1px solid #8a939c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top,  from(#ffffff),color-stop(0.05, #dbdee3),color-stop(0.67, #ebeef2), to(#f9fafb));
    background-color: #384556;
    -webkit-box-shadow: inset 0 0 5px 0 #f4f4f4;
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    text-shadow: 0px 1px 0px rgba(255,255,255,1);
    font-weight: bold;
    font-size: 1em;
}
/* チェックした時の表示 */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionSection .exp_conditionCheckList input:checked + label {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-left: 2.3em;
    border: 1px solid #000000;
    background-color: #02A3D8;
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    -webkit-box-shadow: 0px 1px 2px 0px #0532a0 inset;
    -moz-box-shadow: 0 0 2px 0 #ffffff;
    box-shadow: 0 0 2px 0 #ffffff;
    color: #FFFFFF;
    text-shadow: none;
    background: url(../expImages/checkWhite.png) no-repeat 8 8, -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
}
/* 探索条件のセクション */
.expGuiConditionPhone .exp_conditionDetail .exp_conditionSection .exp_title {
    padding: 0.6em;
    background-color: #D0DEEA;
    color: #384556;
    text-shadow: 0px 1px 0px rgba(255,255,255,1);
    font-weight: bold;
}
/* 詳細条件の切り替え */
.expGuiConditionPhone .exp_conditionDetail .exp_detailButton {
    margin-top: 1em;
    margin-right: 0.9em;
    font-size: 1em;
}
.expGuiConditionPhone .exp_conditionDetail .exp_detailButton .exp_hidden {
    display: block;
    float: right;
    padding-top: 0.35em;
    padding-right: 1em;
    padding-bottom: 0.35em;
    padding-left: 2.8em;
    border: 1px solid #4c555e;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #02A3D8;
    -webkit-box-shadow: 0px 1px 2px 0px #0287b3 inset;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    background: url(../expImages/detailBtnIcon.png) no-repeat 5 5, -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
}
.expGuiConditionPhone .exp_conditionDetail .exp_detailButton .exp_visible {
    display: block;
    float: right;
    margin-bottom: 2.5em;
    padding-top: 0.35em;
    padding-right: 1em;
    padding-bottom: 0.35em;
    padding-left: 2.8em;
    border: 1px solid #4c555e;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -moz-linear-gradient(top, #8f99ab, #717d8f);
    background-color: #DDDDDD;
    -webkit-box-shadow: inset 0 0 5px 0 #99a2b2;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background: url(../expImages/detailBtnIcon.png) no-repeat  5 5, -webkit-gradient(linear, left top, left bottom, from(#8f99ab), to(#717d8f));
}
/* 詳細条件 */
.expGuiConditionPhone .exp_conditionDetail .exp_line {
    width: 100%;
    background: #999;
    background: url(../expImages/expGuiCondition_line.png) repeat-x bottom;
}
.expGuiConditionPhone .exp_conditionDetail .exp_line .exp_left {
    float: left;
    margin-top: 11px;
    width: 85%;
    height: 0px;
}
.expGuiConditionPhone .exp_conditionDetail .exp_line .exp_right {
    float: left;
    width: 15%;
    height: 13px;
    background-repeat: no-repeat;
    background: url(../expImages/expGuiCondition_lineopne.png) no-repeat;
}
/* 詳細条件の区切り */
.expGuiConditionPhone .exp_conditionDetail .exp_separator {
    clear: both;
}
.expGuiConditionPhone .exp_conditionDetail dl {
    margin: 0px;
    padding: 0px;
}
/* 設定項目 */
.expGuiConditionPhone .exp_conditionSimple {
    float: left;
    margin-top: 0.5em;
    width: 100%;
    color: #384556;
    font-weight: bold;
}
/* 簡易設定 */
.expGuiConditionPhone .exp_conditionSimple .exp_item {
    margin-top: 0.8em;
}
/* チェックボックスは表示しない */
.expGuiConditionPhone .exp_conditionSimple .exp_item input {
    display: none;
}
/* チェックした時の表示 */
.expGuiConditionPhone .exp_conditionSimple .exp_item input:checked + label {
    display: block;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border: 1px solid #000000;
    background-color: #02A3D8;
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    -webkit-box-shadow: 0px 1px 2px 0px #0077ee inset;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
    background: url(../expImages/checkWhite.png) no-repeat 8 9, -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
}
/* チェック内容表示 */
.expGuiConditionPhone .exp_conditionSimple .exp_item label {
    display: block;
    margin: 0 5px;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 2.4em;
    border: 1px solid #8a939c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top,  from(#ffffff),color-stop(0.05, #dbdee3),color-stop(0.67, #ebeef2), to(#f9fafb));
    background-color: #384556;
    -webkit-box-shadow: inset 0 0 5px 0 #f4f4f4;
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    font-weight: bold;
}
/* 探索条件タイトル */
.expGuiConditionPhone .exp_conditionSimple .exp_title {
    padding: 0.6em;
    background-color: #D0DEEA;
    color: #384556;
    text-shadow: 0px 1px 0px rgba(255,255,255,1);
    font-weight: bold;
}
.expGuiConditionPhone,
.expGuiConditionTablet {
    font-size: small;
}
/* 探索条件ポップアップ */
.expGuiConditionTablet .exp_conditionDetail {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
/* 探索条件のフッター */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionFooter {
    padding-top: 0.5em;
    width: 100%;
    height: 2em;
    border-top: 2px solid #000000;
    text-align: center;
}
/* 探索条件の内容 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionList {
    clear: both;
    background-color: #ECF0F3;
    box-shadow: #fff 0 1px inset;
}
/* 探索条件の領域 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable {
    margin-top: 10px;
    margin-left: 1%;
    width: 98%;
    border: 1px solid #a3aeb8;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-color: #ecf0f3;
    box-shadow: #353535  0px 1px 4px;
    color: #384556;
    font-size: 1em;
}
/* ヘッダ */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionHeader {
    padding-top: 0.5em;
    padding-left: 1.5em;
    font-weight: bold;
    font-size: 1em;
}
/* 設定項目 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValue,
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti {
    display: block;
    float: left;
    padding: 0.5em 0;
    width: 85.5%;
    text-align: left;
}
/* 10  */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti div {
    margin: 0em 0;
    padding: 0em 0;
    width: 100%;
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti .exp_conditionItemLeft input[type="radio"]:checked + label,
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti .exp_conditionItemRight input[type="radio"]:checked + label  {
    display: inline-block;
    padding: 0.3em 1em;
    min-width: 2em;
    text-align: center;         
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti div .exp_conditionItem input[type="radio"]:checked + label {
    padding: 0.3em 1em;
    min-width: 2em;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti div .exp_conditionItem label {
    min-width: 2em;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f6f8), to(#dbdee3));
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionValueMulti div label {
    display: inline-block;
    padding: 0.3em 1em;
    min-width: 2em;
    text-align: center;
}
/* 表示項目の改行 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_separator {
    display: block;
    clear: both;
    margin: 0.7em 0;
    width: 99%;
    background: #c4d1dd;
}
/* 探索条件のラベル */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionItemLeft input[type="radio"]:checked + label {
    border-top: 1px solid #000000;
    border-right: none;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
/* 未選択時の探索条件 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionItemLeft label {
    border-top: 1px solid #879099;
    border-right: 1px solid #879099;
    border-bottom: 1px solid #879099;
    border-left: 1px solid #879099;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
/* 探索条件のラベル */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionItemRight input[type="radio"]:checked + label {
    border-left: none;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-right-left-radius: 6px;
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionItemList .exp_conditionItemRight label {
    border-left: none;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
/* タブの部分 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTab,
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabLeft,
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabRight {
    float: left;
    font-weight: bold;
}
/* タブの部分 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabLeft {
    border-left: 1px solid #879099;
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabLeft {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabRight {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}
/* 未選択時のタブ */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect {
    width: 19%;
    border-top: 1px solid #879099;
    border-right: 1px solid #879099;
    border-bottom: 1px solid #879099;
    background: -webkit-gradient(linear, left bottom, left top,  from(#ffffff),color-stop(0.05, #dbdee3),color-stop(0.67, #ebeef2), to(#f9fafb));
    background-color: #FFFFFF;
    box-shadow: #efeff0 inset 0 1px;
    color: #384556;
    font-weight: bold;
}
/* タブのリンク部分 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabNoSelect a {
    display: block;
    padding: 0.5em 0;
    color: #384556;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}
/* 選択時のタブ */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_conditionTabSelected {
    display: block;
    padding: 0.5em 0;
    width: 19%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
    -webkit-box-shadow: inset 0 0 1px 1px #0290be;
    box-shadow: inset 0 0 1px 1px #1198c4;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
/* ヘッダーの部分 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_header {
    padding: 1em 0 0.5em 2em;
    border-bottom: #a3aeb8 1px solid;
    box-shadow: #fff 0 1px inset;
}
/* 条件のセパレータ */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_separator {
    clear: both;
    margin-left: 1%;
    width: 98%;
    height: 1px;
    background-color: #a3aeb8;
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_titlebar {
    padding-top: 0.8em;
    padding-bottom: 0.4em;
    height: 2em;
    border-bottom: 1px solid #A3AEB8;
    text-align: center;
    font-weight: bold;
}
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_titlebar .exp_button {
    float: right;
    margin-right: 1em;
}
/* 閉じるボタン */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable .exp_titlebar .exp_conditionClose {
    padding: 0.2em 1.5em;
    border: 1px solid #8a939c;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top,  from(#ffffff),color-stop(0.05, #dbdee3),color-stop(0.67, #ebeef2), to(#f9fafb));
    background-color: #FFFFFF;
    box-shadow: #f5f6f8 inset 0 1px;
    color: #384556;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-weight: bold;
}
/* ラジオボタンの探索条件 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable input[type="radio"] {
    display: none;
}
/* 探索条件のラベル */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable input[type="radio"]:checked + label {
    display: inline-block;
    padding: 0.3em 0;
    min-width: 20%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
    -webkit-box-shadow: inset 0 0 1px 1px #0290be;
    box-shadow: inset 0 0 1px 1px #1198c4;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
/* 未選択時の探索条件 */
.expGuiConditionTablet .exp_conditionDetail .exp_conditionTable label {
    display: inline-block;
    padding: 0.3em 0;
    min-width: 20%;
    border-top: 1px solid #879099;
    border-right: 1px solid #879099;
    border-bottom: 1px solid #879099;
    border-left: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f6f8), to(#dbdee3));
    background-color: #FFFFFF;
    box-shadow: #efeff0 inset 0 1px;
    text-align: center;
    font-weight: bold;
}
/* タブレット用 */
.expGuiConditionTablet .exp_conditionOpen {
    text-align: left;
}
.expGuiConditionTablet .exp_conditionOpen .exp_conditionOpenButton {
    display: block;
    float: right;
    margin: 1em 2.9% 1em 0;
    padding: 0.5em 1em 0.5em 3em;
    padding: 0.5em 1em 0.5em 3em;
    border: 1px solid #4c555e;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #DDDDDD;
    -webkit-box-shadow: inset 0 0 5px 0 #99a2b2;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background: url(../expImages/detailBtnIcon.png) no-repeat  5 6, -webkit-gradient(linear, left top, left bottom, from(#8f99ab), to(#717d8f));
}
/* 設定項目 */
.expGuiConditionTablet .exp_conditionSimple {
    float: left;
    margin-top: 0.5em;
    width: 100%;
    color: #384556;
    font-weight: bold;
}
/* 簡易設定 */
.expGuiConditionTablet .exp_conditionSimple .exp_item {
    float: left;
    margin-top: 0.8em;
}
/* チェックボックスは表示しない */
.expGuiConditionTablet .exp_conditionSimple .exp_item input {
    display: none;
}
/* チェックした時の表示 */
.expGuiConditionTablet .exp_conditionSimple .exp_item input:checked + label {
    display: block;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border: 1px solid #000000;
    background-color: #02A3D8;
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    -webkit-box-shadow: 0px 1px 2px 0px #0077ee inset;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
    background: url(../expImages/checkWhite.png) no-repeat 8 9, -webkit-gradient(linear, left top, left bottom, from(#5386cb), color-stop(0.5,#1150b7), color-stop(0.5,#0533a1), to(#0946b2));
}
/* チェック内容表示 */
.expGuiConditionTablet .exp_conditionSimple .exp_item label {
    display: block;
    margin: 0 5px;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 2.4em;
    border: 1px solid #8a939c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top,  from(#ffffff),color-stop(0.05, #dbdee3),color-stop(0.67, #ebeef2), to(#f9fafb));
    background-color: #384556;
    -webkit-box-shadow: inset 0 0 5px 0 #f4f4f4;
    -webkit-box-shadow: 0 0 2px 0 #ffffff;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    font-weight: bold;
}
/* 探索条件タイトル */
.expGuiConditionTablet .exp_conditionSimple .exp_title {
    padding: 0.6em;
    background-color: #D0DEEA;
    color: #384556;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    font-weight: bold;
}

/* iPhone 6/7/8/X より画面幅が小さい場合 */
@media screen and (max-width: 380px) {
    .exp_conditionValue {
        margin-left: 0;
    }
}

/* iPhone 5/SE より画面幅が小さい場合 */
@media screen and (max-width: 320px) {
    .exp_conditionValue select {
        width: 120px !important;
    }
}